@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  .form-header {
    font-size: 1.2rem;
    text-transform: none;
  }
  .window-game > * {
    height: 18rem;
  }
  .input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
