@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* 
color: #f2cbbc
background: #334431
second color: #e05038
third color: #e6af4b

*/

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: #334431;
  color: #f2cbbc;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.15em;
}

.d-0 {
  display: none;
}
/* error modal */
.error {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #e6af4b;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: none;
}
.modal-content {
  background: #800000;
  color: #ccc;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #f2cbbc;
}
.active {
  color: #fff;
}

.txt-act {
  text-transform: capitalize;
}

.b {
  border: 2px solid #e6af4b;
  border-radius: 5px;
}

.btn {
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
  background: transparent;
  color: #e6af4b;
  transition: all 0.4s ease-out;
  border-radius: 15px;
}
.btn:hover {
  background: #e6af4b;
  color: #334431;
  transition: all 0.5s ease-out;
}
.btn-submit {
  margin-top: 1rem;
  height: 3rem;
  width: 6rem;
}

/* header */

.header {
  color: #f2cbbc;
  border-bottom: 2px solid #f2cbbc;
  width: max-content;
  margin: 1rem auto;
  text-align: center;
}
.header-title {
  margin: 0;
  font-size: 3.5rem;
}
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.nav-list li {
  margin: 1rem;
  padding: 0.5rem 1rem;
}
/* */

/* mainframe */

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window-game {
  display: flex;
  justify-content: center;
  align-items: center;
}
.window-game > * {
  height: 24rem;
}

.input {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  background: #f2cbbc;
  color: #334431;
  padding: 1rem 2rem;
}
/*  */

/* New Player */

.input-player-name-header {
  overflow: hidden;
  border-right: 0.15em solid #e6af4b;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(50, end), cursor 1.75s step-end infinite;
  background: transparent;
  font-size: 1rem;
  color: #fff;
  max-width: max-content;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.input-player-name {
  display: flex;
  color: #f2cbbc;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  border: 1px solid #e6af4b;
  border-radius: 5px;
  background: transparent;
  text-align: center;
}
.input-player-name::placeholder {
  display: flex;
  justify-content: center;
  color: #f2cbbc;
}

/* Players */
.table {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.table-content,
.table-header {
  display: grid;
  grid-template-columns: 20vw 20vw;
  justify-content: space-around;
  width: 80vw;
  border-bottom: 1px solid #e6af4b;
}
.table-content > *,
.table-header > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e6af4b;
  }
}

/**/
/*  */

.footer {
  display: none;
  align-items: center;
  margin-top: auto;
  background: #f2cbbc;
  color: #334431;
  height: 2rem;
}
.footer-content {
  margin: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  .form-header {
    font-size: 1.2rem;
    text-transform: none;
  }
  .window-game > * {
    height: 18rem;
  }
  .input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
